/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  
}

/* pieces are div within game table cells: draw as colored circles */
body {
  position: relative; 
  display: grid; 
  justify-content: center;
  
}
#header-div {
  text-align: center; 
  margin-top: 10vh; 
  

}



table { 
  background: blue;
  
}
tr {
  background: white;

}

#player-section, #selector-section{
  display: flex; 
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 2rem; 
  justify-content: space-between;
  font-size: 1.2rem;
  
}
#player-1, #player-2 {
  height: 50px; 
  width: 80px;
  border-radius: 15px;  
  
}
.currplayer {
  background-color: lightblue;
  opacity: 0.5;
}


.blue, .red {
  height: 50px; 
  width: 50px; 
 
 
}

.blue {
  background: blue;
  border-radius: 50%;
}

.red {
  background: red;
  border-radius: 50%;
  
}

#hidden {
  display: none; 
}

.piece {
  /* TODO: make into circles */
  position: relative; 
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: blue;
  animation: dropin 0.5s; 
  animation-fill-mode: forwards;
}

@keyframes dropin {
  from {top: -350px;}
  to {top: 0px}
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.p1 {
  background-color: blue;
}

.p2 {
  background-color: red;
}